/* Base style */

.content {
	width: 960px;
	margin: 0 auto;
}

.block {
	padding: 10px;
	box-sizing: border-box;
}

a {
    color: #245C7B;
}

.big {
    font-size: 150%;
}

/* Header */

.header {
	height: 86px;
}

.header--content {
	display: flex;
	align-items: center;
}

.header--title {
	display: flex;
	justify-content: center;
}

/* Main */
.paginator {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-top: 10px;
}

.paginator li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

.paginator-current,
.paginator-dotter
{
	padding: 10px;
}

.paginator a {
	display: flex;
	padding: 10px;
	border-width: 1px;
}

.paginator a:hover {
	background-color: #eee;
}

/* News */

.news--title {
	margin-bottom: 20px;
}

.news--info {
    background-color: #DFFFDF;
    padding: 10px;
    margin-bottom: 20px;
}

.news--announce {
    color: #707070;
    font-size: 12px;
	margin-bottom: 20px;
}

.news--content {
    font-size: 120%;
    text-indent: 64px;
    white-space: pre-wrap;
}

.news--public {
    margin-bottom: 20px;
}

.news--public:last-child {
    margin-bottom: 0;
}

.news--public__edit {
    font-size: 75%;
}

.news--public__edit ul {
    display: flex;
    list-style-type: none;
}

.news--public__edit li {
    padding-right: 10px;
}

.news--controls {
    margin-top: 20px;
}

.news--delete {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.news--delete * {
    flex-basis: 200px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.news--add {
    text-align: center;
}

.news--add__title,
.news--add__announce,
.news--add__content {
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: serif;
}

.news--add__content {
    min-height: 300px;
}

.news--add__submit {
    width: 500px;
    padding: 10px;
}

/* Auth */
.auth {
    display: flex;
    background: yellow;
}

.auth * {
    flex-grow: 1;
}

.auth--password {
    border: 1px solid #eee;
    padding: 10px;
    font-size: 200%;
}

.auth--submit {
    padding: 10px;
    font-weight: bold;
}

/* Errors */
.errors {
    padding: 10px;
    background-color: #FFF3F3;
    margin-bottom: 10px;
    list-style-type: none;
}

.pagenotfound {
    background-color: #FFECE7;
    padding: 10px;
}


/* Join */
.news--public__link,
.paginator a {
    color: #2F83B1;
    text-decoration: none;
}

.paginator-current, 
.auth--submit,
.news--delete *,
.news--add__submit {
    background-color: #1D7AA9;
	color: #FFF;
}

.nav-list,
.news--controls {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #EDEDED;
    padding: 5px;
}

.nav-list li,
.news--controls li {
    padding: 5px;
}

/* Common */
body {
	color: #303030;
	font-size: 16px;
    font-family: serif;
}